<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplikasi Validasi</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark align-items-start">
      <div class="container">
        <a class="navbar-brand" href="/">Aplikasi Validasi</a>
      </div>
    </nav>

    <!-- Detail -->
    <section class="detail">
      <div class="container">
        <a href="/list" class="back-link">
          <i class="btn btn-1 bi bi-arrow-left"></i> Back
        </a>
        <div class="bg-light mt-3 p-4 rounded-5">
          <div class="row">
            <!-- kiri -->
            <div class="col-lg-3">
              <div class="p-3 d-flex flex-row">
                <div class="row">
                  <div class="col col-lg-12">
                    <img
                      src="<%= device.image %>"
                      class="card-img img-sm-fluid"
                      alt="Perangkat"
                    />
                  </div>
                  <div class="col ms-3">
                    <h4>SN:</h4>
                    <p><%= device.sn %></p>
                    <h4>Status:</h4>
                    <p>
                      <%= device.status === 1 ? `Last Validasi :
                      ${device.time.getDate()}/${device.time.getMonth() +
                      1}/${device.time.getFullYear()}` : 'Tidak Valid' %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- kanan -->
            <div class="col-lg-9 mt-3 mt-lg-0">
              <div class="container p-3">
                <div class="row">
                  <div class="col">
                    <h5>CSM</h5>
                    <p><%= device.csm %></p>
                  </div>
                  <div class="col">
                    <h5>Perangkat</h5>
                    <p><%= device.perangkat %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h5>Jenis</h5>
                    <p><%= device.jenis %></p>
                  </div>
                  <div class="col">
                    <h5>Regional</h5>
                    <p><%= device.regional %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h5>Use</h5>
                    <p><%= device.usage_device %></p>
                  </div>
                  <div class="col">
                    <h5>Nik</h5>
                    <p><%= device.nik %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h5>Nama</h5>
                    <p><%= device.nama %></p>
                  </div>
                  <div class="col">
                    <h5>No Telp</h5>
                    <p><%= device.telp %></p>
                  </div>
                </div>

                <div class="valid-btn-container mt-3">
                  <a
                    href="/detail/<%= device.sn %>/update"
                    type="button"
                    class="btn btn-1 rounded-pill btn-valid"
                    style="width: 100%"
                  >
                    Update
                  </a>
                </div>

                <% if (device.notes) { %>

                <div class="notes-container mt-3">
                  <h4>Notes:</h4>
                  <p><%= device.notes %></p>
                </div>

                <% } else { %> <% } %> <% if (histories) { %>

                <div class="row mt-5">
                  <% if (histories.length > 0) { %>
                  <div class="row text-center">
                    <h4>Validasi History</h4>
                  </div>
                  <% } %>
                  <ol>
                    <% histories.forEach(history => { %>
                    <li><%= history.time %></li>
                    <% }) %>
                  </ol>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Bottom Navbar (Mobile Only) -->
    <nav class="bottom-navbar d-md-none">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <a href="/" class="navbar-link">
              <i class="bi bi-house-door"></i>
              <span>Home</span>
            </a>
          </div>

          <div class="col text-center">
            <a href="/list?focusSearch=true" class="navbar-link active">
              <i class="bi bi-search"></i>
              <span>Validasi</span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
