<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplikasi Validasi</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark align-items-start">
      <div class="container">
        <a class="navbar-brand" href="/">Aplikasi Validasi</a>
      </div>
    </nav>

    <!-- Detail -->
    <section class="detail">
      <div class="container">
        <a href="/detail/<%= device.sn %>" class="back-link">
          <i class="btn btn-1 bi bi-arrow-left"></i> Back
        </a>
        <div class="bg-light mt-3 p-4 rounded-5">
          <div class="row">
            <!-- kiri -->
            <div class="col-lg-3">
              <div class="p-3 d-flex flex-row">
                <div class="row">
                  <div class="col col-lg-12">
                    <img
                      src="/img_perangkat_aktif.svg"
                      class="img-fluid mx-auto rounded"
                      alt="Perangkat Aktif"
                    />
                  </div>
                  <div class="col ms-3">
                    <h4>SN:</h4>
                    <p><%= device.sn %></p>
                    <h4>Status:</h4>
                    <p><%= device.status === 1 ? 'Valid' : 'Tidak Valid' %></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- kanan -->
            <div class="col-lg-9 mt-3 mt-lg-0">
              <div class="container p-3">
                <div class="row">
                  <div class="col">
                    <h5>CSM</h5>
                    <p><%= device.csm %></p>
                  </div>
                  <div class="col">
                    <h5>Perangkat</h5>
                    <p><%= device.perangkat %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h5>Jenis</h5>
                    <p><%= device.jenis %></p>
                  </div>
                  <div class="col">
                    <h5>Regional</h5>
                    <p><%= device.regional %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h5>Use</h5>
                    <p><%= device.usage_device %></p>
                  </div>
                  <div class="col">
                    <h5>Nik</h5>
                    <p><%= device.nik %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h5>Nama</h5>
                    <p><%= device.nama %></p>
                  </div>
                  <div class="col">
                    <h5>No Telp</h5>
                    <p><%= device.telp %></p>
                  </div>
                </div>

                <div class="form-box">
                  <div class="button-box">
                    <div id="btn-switcher"></div>
                    <div class="toggle-btn-container">
                      <button
                        class="toggle-btn w-100"
                        onclick="clickToUnvalidate()"
                      >
                        Tidak Valid
                      </button>
                      <button
                        class="toggle-btn w-100"
                        onclick="clickToValidate()"
                      >
                        Valid
                      </button>
                    </div>
                  </div>
                </div>

                <div class="camera-btn-container mt-3">
                  <a
                    type="button"
                    class="btn btn-1 rounded-pill btn-valid"
                    style="width: 100%"
                  >
                    <i class="bi bi-camera me-1"></i>
                    Ambil Foto
                  </a>
                </div>

                <!-- <input class="form-check-input" type="checkbox" id="switcher" />
                <label class="form-check-label" for="switcher">Switcher</label>

                <section class="button">
                  <div class="container mt-3">
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button
                          type="button"
                          class="btn btn-1 rounded-pill btn-valid"
                          style="width: 100%"
                          onclick="clickToValidate()"
                        >
                          Valid
                        </button>
                      </div>
                      <div class="col d-flex justify-content-start">
                        <button
                          type="button"
                          class="btn btn-secondary rounded-pill btn-tidak-valid"
                          style="width: 100%"
                        >
                          Tidak Valid
                        </button>
                      </div>
                    </div>
                  </div>
                </section> -->

                <!-- input text -->
                <div id="notesInput" class="form-container">
                  <div class="input-group input-group-sm mt-3">
                    <textarea
                      class="form-control rounded-3"
                      rows="4"
                    ></textarea>
                  </div>
                  <div class="container d-flex justify-content-end">
                    <div class="row">
                      <button
                        class="btn btn-1 rounded-pill mt-3"
                        onclick="saveDeviceStatus()"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Bottom Navbar (Mobile Only) -->
    <nav class="bottom-navbar d-md-none">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <a href="/" class="navbar-link">
              <i class="bi bi-house-door"></i>
              <span>Home</span>
            </a>
          </div>

          <div class="col text-center">
            <a href="/list?focusSearch=true" class="navbar-link active">
              <i class="bi bi-search"></i>
              <span>Validasi</span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script>
          var btnSwitch = document.getElementById("btn-switcher");

          function setInitialSwitcherPosition() {
              const deviceStatus = <%= device.status %>; // Access the device.status value
              if (deviceStatus === 1) {
                  btnSwitch.style.left = "+50%";
              } else {
                  btnSwitch.style.left = "0";
              }
          }

          setInitialSwitcherPosition();

          function clickToUnvalidate() {
              btnSwitch.style.left = "0";
          }

          function clickToValidate() {
              btnSwitch.style.left = "+50%";
          }

          function saveDeviceStatus() {
              const deviceStatus = <%= device.status %>; // Get the initial device status
              let newDeviceStatus = btnSwitch.style.left === "0px" ? 0 : 1; // Determine the new status based on switcher position

              console.log("deviceStatus:", deviceStatus);
      console.log("newDeviceStatus:", newDeviceStatus);

              if (newDeviceStatus !== deviceStatus) {
              // Only update if the status has changed

              // Send AJAX request to update the device status
              const xhr = new XMLHttpRequest();
              xhr.open("POST", `/update-status/<%= device.sn %>`, true);
              xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
              xhr.onreadystatechange = function () {
                  if (xhr.readyState === XMLHttpRequest.DONE) {
                      if (xhr.status === 200) {
                          console.log("Device status updated successfully");
                          window.location.href = `/detail/<%= device.sn %>`;
                      } else {
                          console.error("Failed to update device status");
                      }
                  }
              };
              xhr.send(JSON.stringify({ status: newDeviceStatus }));
              } else {
                //   window.location.href = `/detail/<%= device.sn %>`;
                console.log(status)
              }
          }
    </script>
  </body>
</html>
